@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --blue4: #2699FB;
    --blue2: #BCE0FD;
    --blue3: #7FC4FD;
    --blue1: #F1F9FF;
    --white: #FFFFFF;
    --grey: #717171;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: block;
    background-color: var(--blue1);
}

header {
    height: 10vh;
    background-color: var(--blue4);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 10vh;
}

.menu-left {
    flex: 1;
    width: 64px;
    height: 64px;
}

.menu-left img {
    width: 64px;
    height: 64px;
}

.menu-right ul {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-right li {
    display: flex;
    font-size: 16pt;
    margin-left: 48px;
}

.menu-right li a:hover {
    border-bottom: 6px solid var(--blue3);
    color: var(--blue3);
}

.menu-right li a {
    text-decoration: none;
    color: var(--white);
}

.btn-contact {
    color: var(--grey);
    font-size: 12pt;
    width: 112px;
    height: 48px;
    border: none;
    border-radius: 16pt;
    cursor: pointer;
}

.section-home {
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: var(--blue3);
}

.home-left,
.home-mid,
.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 45vh;

}

.home-right h1{
    color: var(--white);
    font-size: 32pt;
    font-weight: 600;
}

.home-left h1 {
    color: var(--white);
    font-size: 32pt;
    font-weight: 600;
}

.home-left,
.home-right p {
    color: var(--white);
    text-align: center;
    font-size: 16pt;
}

.home-mid-img {
    width: 304px;
    height: 304px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid var(--blue4);
}

.section-about{
    background-color: var(--blue2);
    display: flex;
    align-items: center;
    height: 50vh;
}

.about-left, .about-right{
    display: flex;
    flex: 1;
}

.about-left{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 64px;
}

.about-left h1{
    font-size: 40pt;
}

.about-left p{
    font-size: 16pt;
}

.social-media{
    justify-content: space-between;
    width: 50%;
    display: flex;
}

.about-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-skills{
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue3);
}

.section-skills h1{
    font-size: 40pt;
    color: var(--white);
}

.section-skills-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    flex-wrap: wrap;
    padding-top: 32px;
    color: var(--white);
}

.section-skills-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 32px;
    margin-bottom: 32px;
    width: 192px;
    height: 216px;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 2px solid var(--blue1);
}

.section-skills-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.section-skills-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 20%;
}

.section-projects{
    padding-top: 64px;
    background-color: var(--blue2);
}

.section-projects h1{ 
    font-size: 40pt;
    text-align: center;
    margin-bottom: 32px;
}

.section-all-projects, 
.section-web-projects,
.section-cg-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 64px;
    height: 60vh;
}

.section-projects-titles{
    font-size: 16pt;
    margin-top: 16px;
    margin-bottom: 16px;
}

.section-projects-content{
    display: flex;
    height: 60vh;
}

.section-project{
    margin-right: 32px;
    border: 2px solid;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 90%;
    width: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-project-up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-bottom: 1px solid;
}

.section-project-down{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 20%;
}