@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --blue4: #2699FB;
    --blue2: #BCE0FD;
    --blue3: #7FC4FD;
    --blue1: #F1F9FF;
    --white: #FFFFFF;
    --grey: #717171;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: block;
    background-color: var(--blue1);
}

header {
    display: flex;
    align-items: center;
    height: 12vh;
    background-color: var(--blue4);
    position: fixed;
    width: 100vw;

}

.container {
    width: 80vw;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 10vh;

}

.menu-left {
    flex: 1;
    width: 64px;
    height: 64px;
}

.menu-left img {
    width: 64px;
    height: 64px;
}

.menu-right ul {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-right li {
    display: flex;
    font-size: 16pt;
    margin-left: 48px;
}

.menu-right li:last-child{
    margin-left: 0;
}

.menu-right li a:hover {
    border-bottom: 6px solid var(--white);
}

.menu-right li a {
    text-decoration: none;
    color: var(--white);
}

.menu-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-border{
    height: 16px;
    width: 48px;
    border-bottom: 3px solid var(--white);
}

.section-home {
    display: flex;
    align-items: center;
    height: 88vh;
    background-color: var(--blue3);
}

.home-left,
.home-mid,
.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 45vh;

}

.home-right h1 {
    color: var(--white);
    font-size: 32pt;
    font-weight: 600;
}

.home-left h1 {
    color: var(--white);
    font-size: 32pt;
    font-weight: 600;
}

.home-left,
.home-right p {
    color: var(--white);
    text-align: center;
    font-size: 16pt;
}

.home-mid-img {
    width: 352px;
    height: 352px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid var(--white);
}

.section-about {
    background-color: var(--blue2);
    display: flex;
    align-items: center;
    height: 100vh;
}

.about-left,
.about-right {
    display: flex;
    flex: 1;
}

.about-left {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 64px;
}

.about-left h1 {
    font-size: 40pt;
    margin-bottom: 16px;
}

.about-left p {
    font-size: 16pt;
    margin-bottom: 16px;
}

.social-media {
    margin-top: 32px;
    justify-content: space-between;
    width: 50%;
    display: flex;
}

.social-media a img{
    width: 40px;
    height: 40px;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-skills {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue3);
}

.section-skills h1 {
    font-size: 40pt;
    color: var(--white);
}

.section-skills-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    flex-wrap: wrap;
    padding-top: 32px;
    color: var(--white);
}

.section-skills-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    width: 192px;
    height: 216px;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 2px solid var(--blue1);
}

.section-skills-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.section-skills-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.section-projects {
    padding-top: 64px;
    background-color: var(--blue2);
}

.section-projects h1 {
    font-size: 40pt;
    text-align: center;
    margin-bottom: 32px;
}

.section-all-projects,
.section-web-projects,
.section-cg-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding-left: 64px;
}

.section-projects-titles {
    font-size: 16pt;
    margin-top: 16px;
    margin-bottom: 16px;
}

.section-projects-content {
    display: flex;
    height: 90vh;
}

.section-project {
    margin-right: 32px;
    border: 2px solid var(--blue4);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 90%;
    width: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-project-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-bottom: 1px solid var(--blue4);
}

.section-project-down {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 20%;
}

.btn-view{
    font-size: 12pt;
    width: 50%;
    height: 40%;
    border: 2px solid var(--blue4);
    border-radius: 50px;
    color: var(--blue4);
    background-color: none;
    cursor: pointer;
}

.section-contact {
    color: var(--white);
    background-color: var(--blue3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
}

.section-contact-up {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.section-contact-up h1 {
    font-size: 24pt;
    margin-bottom: 48px;
}

.section-contact input {
    margin-bottom: 40px;
    height: 32px;
    border: none;
    border-bottom: 2px solid var(--white);
    background-color: var(--blue3);
    color: var(--white);
    outline: none;
    font-size: 12pt;
}

.section-contact label {
    font-size: 12pt;
}

.section-contact-down {
    width: 40%;
    display: flex;
    justify-content: end
}

.btn-send {
    border: none;
    border-radius: 50px;
    width: 160px;
    height: 56px;
    cursor: pointer;
    color: var(--blue4);
    background-color: var(--white);
}

.btn-send:hover{
    animation: btn-send 3s infinite alternate;
}


footer {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: var(--blue2);
}

footer p {
    display: flex;
    align-items: center;
    font-size: 12pt;
    font-weight: 500;
}

footer img {
    margin-right: 16px;
}

footer img:first-child {
    margin-left: 16px;
    
}

@media only screen and (max-width: 1400px) {


    .section-home {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    .home-mid{
        padding-top: 64px;
    }

    .home-left, 
    .home-right{
        display: none;
    }

    .home-mid-img {
        width: 400px;
        height: 400px;
    }

    .home-mid-img img {
        width: 352px;
        height: 352px;

    }

    .about-left h1 {
        font-size: 32pt;
        margin-bottom: 16px;
    }

    .about-left p {
        font-size: 12pt;
        margin-bottom: 16px;
    }

    .section-project-up img{
        width: 128px;
        height: 128px;
    }

    .section-contact-up {
        width: 60%;
    }

    .section-contact-down {
        width: 60%;
    }

}


@media only screen and (max-width: 1205px) {

    .section-project-up{
        height: 70%;
    }

    .section-project-down{
        height: 30%;
    }

    .menu-right{
        display: none;
    }

    .menu-mobile{
        display: flex;
    }

    .section-contact-up {
        width: 70%;
    }

    .section-contact-down {
        width: 70%;
    }
}

@media only screen and (max-width: 980px){

    .section-about{
        padding-top: 32px;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .section-project:last-child{
        display: none;
    }

    .section-contact-up {
        width: 80%;
    }

    .section-contact-down {
        width: 80%;
    }
}


@media only screen and (max-width: 700px){

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12vh;
    }

    footer p:first-child{
        display: none;
    }

    footer p:last-child{
        margin-top: 16px;
    }

    .section-contact-up h1 {
        font-size: 24pt;
        margin-bottom: 48px;
        text-align: center;
    }

    .section-contact-down{
        justify-content: center;
    }
}

@media only screen and (max-width: 600px){

    .home-mid-img {
        width: 296px;
        height: 296px;
    }

    .home-mid-img img {
        width: 256px;
        height: 256px;

    }

    .section-all-projects,
    .section-web-projects,
    .section-cg-projects {
        padding-left: 0px;
    }

    .section-projects h1 {
        font-size: 32pt;
    }

    .section-projects-content{
        padding-left: 64px;
        padding-right: 32px;
    }

    .section-projects-titles{
        text-align: center;
        font-size: 12pt;
    }

    .section-project:nth-child(1){
        display: none;
    }

    .section-about h1 {
        font-size: 32pt;
    }

    .section-skills h1{
        font-size: 32pt;
    }

    .about-left {
        padding: 32px;
    }
}

@media only screen and (max-width: 500px){

    .section-contact-up h1 {
        font-size: 16pt;
        margin-bottom: 48px;
        text-align: center;
    }

    .section-contact-down{
        justify-content: center;
    }

}

@media only screen and (max-width: 400px){

    .section-home{
        height: 60vh;
    }

    .home-mid-img {
        width: 256px;
        height: 256px;
    }

    .home-mid-img img {
        width: 204px;
        height: 204px;

    }

    .about-left {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .section-project-down {
        font-size: 10pt;
    }

    .social-media a img{
        width: 32px;
        height: 32px;
    }

}

@keyframes btn-send{

    0%{
        transform: rotate(0deg) scale(1);
    }

    35%{
        transform: rotate(5deg) scale(1.05);
    }

    70%{
        transform: rotate(-5deg) scale(1.1);
    }

    100%{
        transform: rotate(0deg) scale(1);
    }

}